<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>help</title>
    <style>
        .jumbotron{
        background:pink;
        color:red;}
        h1{color:green;}
    </style>
</head>
<body>
<div class="jumbotron">
  <h1 align="center" class="display-4">help from us</h1><hr>
  <h4><p class="lead"><ul>
    <li>we designed this webpage for more connectivity with  customers. </li>
    <li>First , we have our home page. you have to select your requirement on home page.</li>
    <li>view our service providers information by clicking on 'servicer provider info' button. </li>
    <li>You can view our services through 'services' button</li>
    <li>You can register for a service from service provider by 'register for a service' button.</li>
    <li>fill the all fiels in service register page with correct information along with contact deatils,then only we provide a fast service.</li>
</ul></p></h4>
  <hr class="my-4">
    <p align="center"><h5 align="center">Hope this information was helpfull to you</h5></p>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/home" role="button">HOME</a>
</div>

</body>
</html>