<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>service provider info</title>
    <style>
        body{background-image:url('images/image3.jfif');
            }
            h1{color:green;}
            h2{color:blue;}
            h4{color:yellow;}
        .jumbotron{
                   top:300;
                   background:pink;
                  color:red;}

    </style>
</head>
<body >
<div class="jumbotron">
  <h1 align="center" class="display-4">service provider info</h1><hr>
    <h2 align="center" color="red">Name:<I> KASULA YOBU</I></h2>
    <img align="right" hspace="1px" height="300" width="200" src="{%static 'images/img3.jfif'%}" >
    <p align="left" class="lead"><h4>home:</h4><h5><ul><li>Dindi Adavala</li><li>Nizampatnam(mandal)</li><li>Guntur (Dt)</li><li>AP-522314</li></ul></h5></h2></p>
    <p align="right" class="lead"><h4>office:</h4><h5><ul><li>KYB COMMUNICATIONS</li><li>Adavuladeevi</li><li>Bank center</li><li>Opposite BSNL Tower</li><li>Guntur(Dt)</li><li>AP-522262</li></ul></h5></h2></p>
  <hr class="my-4">
    <p><H4>contact: </H4><H5>8688099045</H5><H5>9533066025</H5>
    <br>
    <H4>office: </H4><H5>08648-251100</H5></p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/home" role="button">HOME</a>
</div>

</body>
</html>