<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>no update</title>
     <style>
    .jumbotron{
    background:pink;
    color:red;}
    h1{color:green;}
    h6{color:orange;}
    h5{color:green;}
    h3{color:yellow;}
</style>
</head>
< body>
<div class="jumbotron">
  <h1 class="display-4" align="center">You trying to add multiple complaints.</h1>
    <h3 class="display-4" align="center">plese update complaint one by one</h3><hr>
  <hr class="my-4">
 <h1 align="center"> <a class="btn btn-primary btn-lg" href="/admin/siteapp/" role="button"> Go Back ADMIN</a>
     <a class="btn btn-primary btn-lg" href="/home/" role="button"> HOME</a></h1>

</div>

</body>
</html>