<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>regestration failed</title>
     <style>
    .jumbotron{
    background:pink;
    color:red;}
    h1{color:green;}
    h6{color:orange;}
    h5{color:green;}
    h3{color:yellow;}
</style>
</head>
< body>
<div class="jumbotron">
  <h1 class="display-4" align="center">Complaint Registration Failed </h1><hr>
    <p class="lead"> <i><h4>This failure raised because of incorrect mobile number:  <u></i></u></h4></p>
    <p class="lead"> <i><h4>Or you left some fields As Blank  <u></i></u></h4></p>
  <hr class="my-4">
 <h1 align="center"> <a class="btn btn-primary btn-lg" href="/register/" role="button"> Go Back To Registration</a>
     <a class="btn btn-primary btn-lg" href="/home/" role="button"> HOME</a></h1>

</div>

</body>
</html>