<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>register</title>
    <style>
        body{background-image:url('images/image3.jfif');
            }
            h1{color:green;}
            h4{color:Indigo;}

        .jumbotron{

                   background:{{bgcolor}};
                   color:red;
                   }

    </style>
</head>
<body>
<div class="jumbotron">

  <h1 align="center" class="display-4">Register for a service</h1><hr>

    <p class="lead"><h3 align="center">yow con regester your complaint filling by below form</h3></p>
  <hr class="my-4">



  <form align="center" action="/regconf/" method="POST">
      {%csrf_token%}
     &nbsp&nbsp&nbsp&nbsp <h4>Name:       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="name"></h4> <br>
      <h4>Required service:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<select name="service" ><option>  -------select-------</option><option>New DTH connection</option><option>Complaint</option></select></h4><br>
      <h4>phone number:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="phone number" name="phone"></h4><br>
      <h4>Address:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="address"></h4>
     <br>

    <input class="btn btn-primary btn-lg" type="SUBMIT" action="" >
    <input class="btn btn-primary btn-lg" type="RESET" action="" >





        <a class="btn btn-primary btn-lg" href="/home" role="button">HOME</a>

  </form>
</div>

</body>
</html>