<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>services</title>
    <style>
        .jumbotron{
        background:{{bgcolor}};
        color:red;}
        h1{color:green;}
        h5{color:white;}
        img{border:10;}
    </style>
</head>
<body>
<div class="jumbotron">
    <img align="right" height="200px" width="300px" border="10px"  src="{% static 'images/recharge.png'%}"><br>

    <h1 align="center" class="display-4"><b>Services</b></h1><hr>

  <h3><p align="center" class="lead"> <ul>
    <li>selling and installtion of new all dish</li>
    <li>solving all type  problems in dish connections</li>
    <li>available all dish recharges</li>
    <li> available all internet activities</li>    <img align="right" height="200px" width="300px" src="{% static 'images/dthrecharge.png'%}">

    <li>available all moblie recharges</li>
</ul></p></h3>
  <hr class="my-4">
  <p><h5>we will provides all services as fast as available</h5></p>

    <br><br><br><br><hr>
    <h3>adds:<br><br><a href="https://www.youtube.com/watch?v=OJqGR_aszeA>"><img height="100" width="100" align="left" border="5px" align="left" hspace="30px" src="{%static 'images/sunlogo.jfif'%}" ></a></h3>
    <a href="https://www.youtube.com/watch?v=WHCOdy5gHmM"><img height="100" width="100" align="left" border="5px" align="left" hspace="30px" src="{%static 'images/dishtvlogo.png'%}" ></a>
    <a href="https://www.youtube.com/watch?v=DqjI9aYD2zw"><img height="100" width="100" align="left" border="5px" align="left" hspace="30px" src="{%static 'images/vedioconlogo.jfif'%}" ></a>
    <a href="https://www.youtube.com/watch?v=4Xd5qQgIrLo"><img height="100" width="100" align="left" border="5px" align="left" hspace="30px" src="{%static 'images/airteltvlogo.png'%}" ></a>


   <br><br><br><br><hr><br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <h1 align="center"><a class="btn btn-primary btn-lg" href="/home" role="button">HOME</a></h1>
</div>

</body>
</html>